@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: rgba(156, 154, 139, 0.6);
}

h1 {
  font-size: 1.4rem;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  transition: 0.1s all;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  background-color: white;
  margin-bottom: 10px;
  color: rgb(186, 73, 73);
  font-weight: bold;
  text-align: center;
  align-items: center;
  position: relative;
  font-size: 1.4rem;
}

#clear:active,
#equal:active,
.button:active {
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  box-shadow: rgb(0, 0, 0, 0) 0px 0px 0px;
}
.button:hover {
  cursor: pointer;
}

.number,
#negate,
#dot,
#clear {
  width: 32%;
}

#equal {
  background-color: rgb(80, 175, 210);
  box-shadow: rgb(60, 155, 190) 0px 6px 0px;
  color: white;
}
.operator {
  width: 100%;
  padding: 10px 20px;
}
#clear {
  flex: 4 1 auto;
  background-color: rgb(200, 132, 132);
  box-shadow: rgb(180, 112, 112) 0px 6px 0px;
  color: white;
}
#back {
  flex: 1 1 auto;
  padding: 0px;
  color: rgb(103, 165, 111);
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
#back i {
  font-size: 2.5rem;
}
.calculator-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.calculator-border {
  max-width: 400px;
  border-radius: 10px;
  padding: 25px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: auto;
  box-shadow: rgb(58, 63, 63) 0px 8px 4px;
  background-color: rgb(88, 83, 83);
}
.pad-container {
  border: none;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.numpad-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  gap: 5px;
}
.operpad-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  gap: 5px;
}
.display-container {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding-right: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: right;
}
#current-input {
  font-size: 2.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: bold;
}
#last-input {
  color: rgba(0, 0, 0, 0.8);
  margin-right: 5px;
  visibility: hidden;
}
